.the-schedule-page {
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
  background: #fff;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.1);
  padding: 30px 30px 40px;
  box-sizing: border-box;
  border-radius: 3px;
  border-top: 6px solid $blue;
}
