h1.the-headline {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 20px;

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

h2.the-headline {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px;
}
