@import 'global';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  min-width: 320px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eef3f5;
  font-family: 'Open Sans', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
